  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

<div class="row">
  <div class="col-md-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Products</div>
      <div class="card-body">
        <h5 class="card-title">Total Products</h5>
        <p class="card-text display-4"><%= @product_count %></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <h5 class="card-title">Total Categories</h5>
        <p class="card-text display-4"><%= @category_count %></p>
      </div>
    </div>
  </div>
</div>
